<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us Page</title>
</head>
<body>
    <head><h1>Contact us </h1></head>
   <main>
     <form action="/succesfull" method="POST">
        <label for="name">Enter Your name</label>
        <input type="text" name="username" id="name" placeholder="Enter the name">
        <br><br>
        <label for="email">Enter the email</label>
        <input type="email" name="useremail" placeholder="Enter the email ">
        <button type="submit">Submit</button>
    </form>
   </main>
</body>
</html>