<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Home Page </title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <header>
        <h1>Welcome to Add Home Section</h1>
        
    </header>
    <main>
        <form action="/host/success" method="POST">
            <input type="text" placeholder="Enter House no." name="houseno">
            <input type="submit">
        </form>
    </main>
</body>
</html>